<section class="colored-wrapper full-height">
  <section class="grid-wrapper">
    <div class="box">
    	<h2><%= @idea.description %></h2>
      	<p id="notice"><%= notice %></p>

      	<p><small><fb:comments-count href=http://oquefaltaemportugal.herokuapp.com/ideas/<%= @idea.id %>/></fb:comments-count> comentários</small></p>
      	<div class="fb-comments" data-href="http://oquefaltaemportugal.herokuapp.com/ideas/<%= @idea.id %>" data-width="960" data-num-posts="10"></div>
    </div>
  </section>
  
</section>