<section class="colored-wrapper full-height">
  <section class="grid-wrapper">
    <div class="box">
    	<h2><%= @idea.description %></h2>
      	<p id="notice"><%= notice %></p>

      	<p><small>3 comentários</small></p>
    </div>
  </section>
  
</section>