<header class="image-wrapper image2">
  <section class="grid-wrapper">
    <article class="header">
      <%= image_tag "improvePortoLogoWhiteLarge.png" %>
    </article> 
  </section>
  
</header>

<section class="grid-wrapper">

	<h4 class="c63">What is Improve Porto?</h4>
	<p>Improve Porto is a <em>hackathon</em> for creating technologic projects to improve Porto. This projects can be social, cultural, and basically anything that makes this great city even better.</p>


	<h4 class="c63">Who can participate?</h4>
	<p>Everyone that wants to make Porto a better place. We give preference to those of you with technologic and designing skills.</p>
	<p>The event is <em>free</em> for all participants and we ensure <em>food</em>, <em>workplace</em> and a <em>prize</em> for the best project. The winning project election is made by the participants, to make it as fair as possible.</p>


	<h4 class="c63">Who can participate?</h4>
	<p>aSDAsdaf asidfj asldfj asldfi askdfj askfd askdfahsodif haskdfh aksdufh aksudf kasdufh kasufa skdufha ksufh askudfh kasdufh aksfd .</p>

	<h4 class="c63">Our Sponsors</h4>
	<img class="sponsor" src="http://placehold.it/168x168">
	<img class="sponsor" src="http://placehold.it/168x168">
	<img class="sponsor" src="http://placehold.it/168x168">
	<img class="sponsor" src="http://placehold.it/168x168">
	<img class="sponsor" src="http://placehold.it/168x168">
	<img class="sponsor" src="http://placehold.it/168x168">



	<h4 class="c63">Who made this</h4>
</section>
