<% content_for :title, "Improve Porto" %>

<header class="image-wrapper image2">
  <section class="grid-wrapper">
    <article class="header">
      <%= image_tag "improvePortoLogoWhiteLarge.png" %>
    </article> 
  </section>
  
</header>

<section class="grid-wrapper c63">

	<h4 class="c63">O que é o <strong>Improve OPO</strong>?</h4>
	<p><strong>Improve OPO</strong> é uma <a href="http://en.wikipedia.org/wiki/Hackathon">hackathon</a> de 24h com o objectivo de criar projectos de base tecnológica que melhorarem a comunidade em que as pessoas estão inseridas.</p>

  <p>In a nutshell:</p>
  <ul>
    <li><p>Reunião de pessoas com backgrounds diferentes com vista a incentivar a capacidade de “getting things done”;</p></li>
    <li><p>Ideias que melhorem a comunidade, i.e. resolvem problemas específicos das pessoas especificamente do Porto ou de todo o nosso país;</p></li>
    <li><p>Foco na execução de projectos que resolvam um problema, ficando o modelo de negócio para mais tarde.</p></li>
  </ul>

  <h4 class="c63">Quando?</h4>
  <p>Dia 31 de Maio a 1 de Junho. 24 horas seguidas e uma comunidade melhor depois do evento.</p>

  <h4 class="c63">Onde?</h4>
  <p>Local ainda a definir.</p>

  <h4 class="c63">Como podes participar?</h4>
  <p>O evento é limitado a 30 pessoas e tem um custo simbólico de 10€ (que é apenas para alimentação). A ideia é tu não te teres de preocupar com o quê o como vais comer, e nós tratamos disso por ti.</p>


  <h4 class="c63">Queres participar e não tens uma ideia?</h4>
  Não te preocupes. Podes inspirar-te nos problemas sugeridos pela comunidade em <a href="oquefaltanoporto.herokuapp.com">O que falta em Portugal</a>. Durante o <strong>Improve OPO</strong> irás ter oportunidade de encontrares as pessoas certas que te ajudem a melhorar a comunidade. 


	<h4 class="c63">Quem pode participar?</h4>
	<p>O número de participantes é limitado (por motivos de espaço). Toda a gente pode participar, mas daremos preferências a pessoas que já tenham ideias ou, se não tiverem, pessoas com o seguinte know-how:
  <ul>
    <li><p>Software</p></li>
    <li><p>Negócio (finanças, economia, marketing)</p></li>
    <li><p>Design (web, gráfico, producto)</p></li>
  </ul>
</section>

<footer style="margin-top: 200px;">
  <div class="grid-wrapper">
    <%= link_to root_path, style: "float: right;" do %>
      <%= image_tag "logo-small.png" %>
    <% end %>
  </div>
</footer>