input[type="text"] {
	background: rgba(white, 0.8);
	font-size: 42px;
	font-weight: 300;
	padding: 15px 10px;
	height: 50px;
	width: 96%;
	
	border: 0;
	outline: none;
	@include transition (all 0.3s ease-in);
}

input:focus { background: rgba(white, 0.9); }
input:focus[type="text"] { color: $c51; }
