@import "compass";
@import "susy";

@import "bourbon";
@import "grid";
@import "colors";
@import "typography";
@import "forms";

$headerH: 960px;

@mixin imageBackground($url){
	background: url($url) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.image-wrapper {
	width: 100%;
}
.image1 { @include imageBackground("./5-blur.png") }
.image2 { @include imageBackground("./6-blur.png") }

.header { 
	@include pad(2,2,12); @include span-columns(8,12); margin: $headerH*0.2 auto; 
	img { display:block; margin: 30px auto; } 
}

.sponsor { @include span-columns(3,12); margin-top: 5px; margin-bottom: 5px;}


footer {
	width: 100%;
	padding: 20px 0;
	background: #d3d3d3;
	margin: 0;	
}

// --------
// OLD
// --------

.full-height {
	height: 100%;
}

.right-zone {padding: 0 5px; width: 10%; height: 100%; position: absolute; right: 0; top: 0;}

.vote-link { font-size: 1.2em; }

.box {
	@include span-columns(12,12);
}

.notice { margin-top: 5px;}
