@import "compass";
@import "susy";

@import "bourbon";
@import "grid";
@import "colors";
@import "typography";
@import "forms";

$headerH: 960px;

@mixin imageBackground($url){
	background: url($url) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.image-wrapper {
	width: 100%;
}
.image1 { @include imageBackground("./5-blur.png") }
.image2 { @include imageBackground("./6-blur.png") }

.header { 
	@include pad(2,2,12); @include span-columns(8,12); margin: $headerH*0.2 auto; 
	img { display:block; margin: 30px auto; } 
}

.sponsor { @include span-columns(3,12); margin-top: 5px; margin-bottom: 5px;}




footer {
	width: 100%;
	padding: 20px 0;
	background: #d3d3d3;
	margin: 0;	
}

.sticky { position: absolute; bottom: 0; left: 0;}

// --------
// OLD
// --------

.full-height {
	height: 100%;
}

.right-zone {
	padding: 0 5px; width: 70px; height: 100%; position: absolute; right: 0; top: 0;
	.right-zone-wrapper {
		
		position: relative; width: 100%; height: 100%; 
		text-align: right; margin: 0;line-height: 90px; font-size: 22px;

		.label { text-align: center; font-weight:700;font-size:12px; line-height: 12px; position: absolute; bottom: 5px; left: 0; right: 0;}
		.problem-thumbs-down, .problem-thumbs-up { position: absolute; top: 0; bottom: 0; width: 15px;}
		strong { position: absolute; top: 0; bottom: 0; left: 15px; right: 0; text-align: center; width: 40px;}
		.problem-thumbs-down { left: 0; }
		.problem-thumbs-up {  right: 0; }
		
	}
}

.vote-link { font-size: 1.2em; }

.box {
	@include span-columns(12,12);
	padding: 20px 0;
	h2 { margin-bottom: 5px; }
	.fb-comments { margin-top: 5px; }
}

.notice { margin-top: 5px;}
