// $base-font-size: 16px;
// $base-line-height: 24px;
// @include establish-baseline;

//@import url(http://fonts.googleapis.com/css?family=Lato:900);
//@import url(http://fonts.googleapis.com/css?family=Oswald:700);
@import url(http://fonts.googleapis.com/css?family=Lora:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Amaranth:400,700,400italic);

* {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

h1, h2, h3, h4, h5, h6 {
	// font-family: 'Lato', sans-serif;
	// font-family: 'Oswald', sans-serif;
	font-family: 'Amaranth', sans-serif;
	font-weight: 700;
	color: #333;
	margin-top: 1.5em;
	margin-bottom: 0.25em;
}

h1 {
	font-size: 68px;
	line-height: 72px;
	color: white;
	text-shadow: -4px 4px 0px #3b679e;
	text-align: center;

}

body {
	//font-family: 'Lora', serif; 
	font-family: 'Amaranth', sans-serif;
	font-weight: 400;
	color: #666;
}
p small { font-variant: small-caps; color: #666; }

table{width: 100%; margin-top: 20px;}
td {
	border-top: 1px solid #dddddd;
	h2 {
		margin-top: 0.5em;
	}
}


$base-font-size: 18px;
$base-line-height: 28px;
@include establish-baseline;
a {
	@include unstyled-link;
	&:hover { color: rgba($c1, 0.8); }
}
