$base-font-size: 26px;
$base-line-height: 34px;
@include establish-baseline;

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);


h1, h2, h3, h4, h5, h6 {
	font-weight: 900;
	color: #333;
	margin-top: 40px;
}
p {
	font-weight: 100;
	color: #222;	
}

p strong { 
	font-weight: 300;
	color: #222;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}
p small { font-variant: small-caps; color: #666; }

table{ width: 100%; margin: 40px 0; }
td {
	border-top: 1px solid #dddddd;
	padding: 5px 0;
	h2 {
		margin-top: 0.5em;
	}
}
.first { border-top: 0; }

.orange { color: $c51;}
.white {color:white;}
.black { color: black; }
.text-no-margin { margin-top: 0;}

p {
	strong { font-weight: 300;}
	em { color: $c63; font-weight: 400; font-style: none;}
}
* {-webkit-margin-before: 0em; -webkit-margin-after: 0em;}

a {
	@include unstyled-link;
	font-style:italic;
	&:hover { color: rgba($c51, 0.8); }
}

footer h4 {
	margin-bottom: 5px;

}