<!DOCTYPE html>
<html>
<head>
  <title>O que falta em Portugal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=141522039343765";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<%= yield %>
<footer>
  <div class="grid-wrapper">
    <h4>Sobre &quot;O que falta em Portugal&quot;</h4>
    <p>Este projecto foi inspirado no <a href="#">O que Falta em Coimbra</a>, e pretende ser o ponto de partida para fazermos de Portugal um país melhor. Tens um problema na tua cidade ou país? Então este site é para ti.</p>

    <h4>O que acontece aos problemas aqui listados?</h4>
    <p>Cada problema tem associado uma conversa que poderá (e deverá) ser usada para discutir soluções e resoluções do mesmo. Quem quiser solucionar os problemas poderá assim contar com a ajuda da comunidade.</p>
  </div>
</footer>
</body>
</html>
